@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 47, 47, 47;
    --background-end-rgb: 47, 47, 47;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dashboard-images img {
  height: 265px;
  border-radius: 0.75rem;
  object-fit: cover;
}

.auth-logo {
  position: absolute;
  top: 100px;
  left: 100px;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.dashboard-slide-image {
  width: 200px;
  height: 400px;
  object-fit: cover;
  border-radius: 5px;
}

.dashboard-slide-image:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: ease-in 0.3s;
}

#submit {
  color: white;
  font: 800;
  border-radius: 0.5rem;
  font-size: medium;
  padding: 0.625rem 1.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
  width: 100%;
  margin-top: 10px;
}

#submit:focus {
  outline: none;
}

.ql-editor {
  min-height: 400px;
}

@media (max-width: 1550px) {
  /* .collection-cover {
    width: 1024px;
    height: 310px;    
  } */
}